body{
background-image:url('img/potatoes.jpg');
background-repeat:repeat-y;
/*	background-position:center;*/
background-size: cover;
}

#content{
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
}


#mapBos {
  height: 50%;
}
#mapHou {
  height: 50%;
}


#houTitle{
  height: 35px;
}

#bosTitle{
  height: 35px;
}