body{
	background-image:url('img/potatoes.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100%;
}

#content{
	overflow: auto;
}

 #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
  }