body{
	background-image:url('img/rice2.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100%;

}

#bosC {
width: 47%;
float: left;
color: white;
    }
#arr{
width: 3%;
float: left;
}
#houC {
width: 46.5%;
float: right;
color: white;
  }

#bos{
	width: 300px;
	margin: 0 auto;
} 

#hou {
	width: 300px;
	margin: 0 auto;
}

#content{
	overflow: auto;
}

#arrow {
	width: 65px;
	height: 65px;
}

#result{
	clear: both;
	font-family: 'Roboto Condensed', sans-serif;
 	color:white;
 	text-align: left;
}

table th {
	font-family: 'Amatic SC', cursive;
	color:white;
}

table {
	width: 100%;
}


#left{
	float: left;
	font-size: 175%;
	font-family: 'Amatic SC', cursive;
	color:white;
}


#right{
	float: right;
	font-size: 175%;
	font-family: 'Amatic SC', cursive;
	color:white;
}
.bounce {
  position:relative;
  -webkit-animation:bounce 1s infinite;
}

.tryCity {
	font-size: 175%;
	font-family: 'Amatic SC', cursive;
	color:white;
	display:inline;
}

#try { 
  background: rgba(100, 75, 90, .8);
  border-radius: 5px;
  border: solid #EAD7D1 1px;
  text-align: center;
  margin: 0 auto;
  margin-left: 300px;
  margin-right: 300px
 }

a { 
	text-decoration: none;
	font-size: 175%;
	font-family: 'Amatic SC', cursive;
	color:white;
	text-align: center;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}




