body{
	background-image:url('img/rice2.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100%;

}

#bos {
width: 50%;
float: left;
    }
#hou {
width: 50%;
float: right;
  }

#content{
	overflow: auto;
}