h1 {
	color: black;
	text-align: center;
	font-family: sans-serif;
}

body{
	background-color: #DDDDDD ;
	font-family: sans-serif;
}

#right {
  text-align: left;
  float: right ;
  width: 40% ;
}
#left {
  text-align: right;
  float: left;
  width: 40%;
}

#container{
	text-align: center;
	background: white;
	width: 100px auto;
	margin: 0px auto;
	margin-left: 300px auto;
	margin-right: 300px auto;
}

a{
	text-decoration: none;
}